.nav-links,
.nav-background, 
.nav-dropdown,
.nav-dropdown-menu,
.nav-dropdown-menu-link {
    background-color: rgb(29, 29, 29) !important;
    color: white !important;
}

.nav-links,
.nav-dropdown-menu-link {
    font-weight: 600;
    font-size: 20px;
}

.nav-links {
    cursor: pointer;
    text-transform: capitalize;
    margin: 10px;
}

@media only screen and (max-width: 768px) {
    .nav-dropdown-menu-link {
        width: 100%;
    }
}