.nav-links,
.nav-background, 
.nav-dropdown,
.nav-dropdown-menu,
.nav-dropdown-menu-link {
    background-color: rgb(29, 29, 29) !important;
    color: white;
}

.nav-links,
.nav-dropdown-menu-link {
    font-weight: 600;
    font-size: 20px;
}

.nav-links {
    cursor: pointer;
    text-transform: capitalize;
    margin: 0px 10px;
}

@media only screen and (max-width: 1027px) {
    .nav-links,
    .nav-dropdown-menu-link {
        font-size: 18px;
    }
}

@media only screen and (max-width: 965px) {
    .nav-links,
    .nav-dropdown-menu-link {
        font-size: 16px;
    }

}

@media only screen and (max-width: 898px) {
    .nav-links,
    .nav-dropdown-menu-link {
        font-size: 14px;
    }
}

@media only screen and (max-width: 830px) {
    .nav-links,
    .nav-dropdown-menu-link {
        font-size: 12px;
    }
}

@media only screen and (max-width: 768px) {
    .nav-dropdown-menu-link {
        width: 100%;
    }

    .nav-links,
    .nav-dropdown-menu-link {
        font-size: 20px;
    }
}