.material-table-heading {
    text-transform: capitalize;
}

.material-ui-content-container {
    margin: 25px auto;
}

.material-table {
    margin: 25px auto;
}

@media only screen and (max-width: 640px) {
    .material-table {
        width: 90%;
    }

}